<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 BookRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.happyhouse.mapper.DataMapper">

	<insert id="insertDong" parameterType="SidoGugunCodeDto">
		insert ignore into dongcode(dongCode,sidoName,gugunName,dongName)
		values(#{dongCode},#{sidoName},#{gugunName},#{dongName})
	</insert>

	<insert id="insertcrime" parameterType="PoliceStationDto" >
		insert into crime(year,policestation,murder,rob,theft,assault,murdergrade,robgrade,theftgrade,assaultgrade,averrage)
		values(#{year},#{location},#{murder},#{rob},#{theft},#{assualt}, #{murderGrade},#{robGrade},#{theftGrade},#{assualtGrade},#{aver})
	</insert>

	<insert id="insertpolice" parameterType="policeoffice">
		insert into policestation(name,addr)
		values (#{name},#{addr})
	
	</insert>


</mapper>