<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.happyhouse.mapper.HouseDealMapper">
	
	<select id="selectHouseDeals" parameterType="String" resultType="HouseDeal">
		SELECT  i.aptCode aptCode, aptName, round(avg(replace(dealAmount, ',', '')), 0) dealAmount, count(*) cnt, i.lat lat, i.lng lng
		FROM houseinfo i
		JOIN housedeal d ON i.aptCode = d.aptCode
		 
		WHERE dongCode = #{dongCode}
		group by i.aptCode
	</select>
	<select id="selectsidoHouseDeals" parameterType="String" resultType="HouseDeal">
		SELECT  i.aptCode aptCode, aptName, round(avg(replace(dealAmount, ',', '')), 0) dealAmount, count(*) cnt, i.lat lat, i.lng lng
		FROM houseinfo i
		JOIN housedeal d ON i.aptCode = d.aptCode
		WHERE left(dongCode,2) = left(#{sidoCode},2)
		group by i.aptCode
	</select>
	
	<select id="selectgugunHouseDeals" parameterType="String" resultType="HouseDeal">
		SELECT  i.aptCode aptCode, aptName, round(avg(replace(dealAmount, ',', '')), 0) dealAmount, count(*) cnt, i.lat lat, i.lng lng
		FROM houseinfo i
		JOIN housedeal d ON i.aptCode = d.aptCode
		WHERE left(dongCode,5) = left(#{gugunCode},5)
		group by i.aptCode
	</select>
	
	
	<select id="selectDealDetails" parameterType="string" resultType="HouseDealDetail">
		SELECT dealAmount, dealYear, dealMonth, dealDay, area, floor
		FROM housedeal
		WHERE aptCode = #{query}
	</select>
		<select id="getSido" resultType="sidoGugunCodeDto">
		select sidoCode, sidoName
		from sidocode
		order by sidoCode
	</select>
	
	<select id="getGugunInSido" parameterType="string" resultType="sidoGugunCodeDto">
		select gugunCode, gugunName
		from guguncode
		where left(gugunCode,2) = left(#{sido},2)
		order by gugunCode
	</select>
	
	<select id="getDongInGugun" parameterType="string" resultType="sidoGugunCodeDto">
		select distinct dongName, dongCode
		from dongcode
		where left(dongCode, 5) = left(#{gugun},5)
		order by dongName
	</select>
	
	<select id="selectpoliceinfo" resultType="CrimePoliceDto">
		select c.policestation policestation, round(avg(averrage)) grade, p.addr addr , p.lat lat, p.lng lng
		from crime c  
		join policestation p on c.policestation = p.name
		group by policestation
	</select>
	
</mapper>